data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
!models/tuned_xgboost.json
!models/tuned_xgboost_final.json
!models/tuned_xgboost_threshold.json
mlruns/
**pycache**/
venv/
.env
*.pyc
.ipynb_checkpoints
tmp_pytest/
